.button{
  max-width: 255px;
  max-height: 80px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(180deg, #4C71BA 0%, #2159C9 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-family: 'Poppins';
  color:#CACACA ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 36px;
  cursor: pointer;
  font-weight: bold;
  border: solid 2px , #3a5da3 ;

}

.button:hover{
  background: linear-gradient(180deg, #4C71BA 0%, #326ce1 100%);    
 
  
}

.icon{
  width: 40px;
}

@media (max-width:1000px) {
  .button{
   gap: 8px;
    max-width: 280px;
    max-height: 68px;
    font-size: 1.5rem;
  }

  .icon{
    width: 35px;
  }
}

@media (max-width:600px) {
  .button{
   gap: 6px;
    max-width: 240px;
    max-height: 56px;
    font-size: 1.1rem;
  }

  .icon{
    width: 30px;
  }
}