.slide{
  display: flex;
 justify-content: center;
 background-color: green;
}

.imagem img{
max-width: 750px;
border-radius: 5px 5px 0 0;
filter: grayscale(1);
}

.imagem{
  background-color: #E2E2E2;
 position: relative;
}

.titulo{
  padding: 10px;
  display: flex;
  background-color: #E2E2E2;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background: linear-gradient(180deg, #4B71BB 0%, #2159C9 100%);
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.titulo h2{
  font-size: 2.5rem;
}

.titulo p{
  font-size: 2.0rem;
}