.tecnologias{
  padding: 20px
}
.tecLista{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}

.tecnologia{
  display: flex;
  flex-direction: column;
  align-items: center;
 max-width: 150px;
 gap: 10px;
}

.imgContainer{
  background: linear-gradient(180deg, #4C71BA 0%, #2159C9 100%);
  border-radius: 5px;
  padding: 6px;
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.tecnologia img{
  width: 139px;

}

.tecnologia p{
  color: #242424;
  font-size: 1.87rem;
  font-weight: 500;

}

@media (max-width:1000px) {
  .tecLista{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (max-width:800px) {
  .tecLista{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:600px) {
  .tecLista{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}

@media (max-width:360px) {
  .tecLista{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
}